.wrapper {
    display: flex;
    color: HSLA(0, 0%, 0%, 0.52);
    margin-bottom: 17px;
}

.header {
    display: flex;
    white-space: nowrap;
    font-size: 12px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 5px;
}

.text {
    text-align: start;
    margin-left: 16px;
    font-weight: 400;
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
}

.author {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.info {
    @media (max-width: 500px) {
        display: none;
    }
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background-color: HSLA(0, 0%, 0%, 0.12);
    border-radius: 50%;
    @media (max-width: 500px) {
        display: none;
    }

}

.card {
    max-width: 422px;
    background-color: HSLA(0, 0%, 0%, 0.06);
    border-radius: 8px;

}

.bottom {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: inherit;
    border: none;
    color: inherit;
    cursor: pointer;
    margin-left: 16px;
    font-size: 14px;
    height: 15px;
}

.icon {
    img {
        width: 18px;
        height: 17px;
        margin-right: 5px;
    }
    margin-right: 6px;
    font-size: 12px;
    font-weight: 700;
}