$mainText: #383737;
$secondText: rgb(121, 121, 121);
$detailsColor: #7b7b7b;
;

.review {
    &-wrapper {
        max-width: 1280px;
        margin: 0 auto;
    }

    &-score {
        display: flex;
        color: #ffce00;
        font-size: 21px;
        letter-spacing: 2px;
        margin-top: -2px;
    }

    &-head {
        display: flex;
        margin-bottom: 30px;
        flex-direction: column;
    }

    &-date {
        font-size: 12px;
        color: #797979;
        display: flex;
        color: #7b7b7b;
        margin-top: 4px;
        margin-left: 67px;
    }

    &-autor-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &-details {
        display: flex;
        font-size: 12px;
        columns: #7b7b7b;
        margin-top: 6px;
        margin-left: 6px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &-text {
        display: flex;
        margin-bottom: 29px;
        flex-direction: column;
        text-align: left;
        line-height: 1.5;
        max-width: 759px;

        @media (max-width: 768px) {
            text-align: justify;
        }
    }

    &-bottom {

        display: flex;
        color: #7b7b7b;
        font-size: 12px;
        justify-content: space-between;
        @media (max-width: 400px) {
            flex-direction: column;
        }
    }
}

.details {
    &-label {
        color: $secondText
    }

    &-value {}

    &-location {
        display: flex;
        font-size: 14px;
    }
}

.main {
    &-details {
        display: flex;
        justify-content: space-between;
    }
}

.review-author {
    display: flex;
    margin-top: 6px;
    align-items: center;
    font-size: 14px;

    &-details {


        li {
            display: flex;
            justify-content: space-between;

            :nth-child(1) {
                font-style: italic;
                margin-right: 10px;
            }
        }

        list-style-type: none;
        text-align: start;
        white-space: nowrap;

        @media (max-width: 768px) {
            display: none;
        }
    }
}



.author {
    &-avatar {
        border-radius: 48px;
        margin-top: 4px;
        padding: 18px 21px;
        /* font-weight: bold; */
        margin-right: 8px;
        font-size: 14px;
        color: #d06666;
        margin-bottom: auto;
    }
}

.icons {
    width: 22px;
    height: 20px;
    margin-left: 20px;
    display: flex;

    &:hover {
        background-color: rgba(190, 134, 134, 0.247);
        border-radius: 5px;
        cursor: pointer;
        transform: translateY(-2px);
    }

    &-wrapper {
        display: flex;
        margin-bottom: 15px;
    }

}

.answer {
    margin-top: 40px;
    border: 2px solid $mainText;
    border-radius: 5px;

    &-main {
        text-align: start;
        margin: 10px;
        font-size: 12px;
    }

    &-button {
        background-color: inherit;
        border: none;
        color: inherit;
        cursor: pointer;
        margin-left: 43px;
        font-size: 12px;
        height: 15px;
    }
}

.verifed {
    display: flex;
    font-size: 10px;
    background-color: HSLA(125, 100%, 50%, 0.1);
    border-radius: 4px;
    margin-right: 2px;
    margin-left: 8%;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    @media (max-width: 450px) {
        display: none;
    }
}

.top {
    display: flex;
    font-size: 10px;
    background-color: HSLA(125, 100%, 50%, 0.1);
    border-radius: 4px;
    margin-right: 11px;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    @media (max-width: 450px) {
        display: none;
    }
}