@use "sass:math";
$mainText: #383737;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

ul {
  padding: 0;
  margin: 0;
}

.App {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font: 'Arimo';
  text-align: center;
  display: flex;
  max-width: 100%;
  color: $mainText;
}

.App-header {
  background-color: $mainText;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.header {
  justify-content: space-between;
  display: flex;
  flex: 1 1;
  margin-top: 70px;
  margin-bottom: 22px;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
}

  
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  max-width: 807px;
  padding: 0 20px;
}

.wrapper1 {
  position: relative;
  width: 60vw;
  margin: 0 auto;
  max-width: 813px;
  margin-bottom: 23px;
}

.image {
  width: 50%;
}

.cover {
  background-color: rgba(16, 24, 39, 0.294);
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.sand-photo{
  position: absolute;
  min-width: 100px;
  height: 100px;
  border: 1px solid;
  margin-right: 14px;
}

.slider-wrapper{

}
