@use "sass:math";
$mainText: #383737;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

ul {
  padding: 0;
  margin: 0;
}

.App {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: flex;
  max-width: 100%;
  color: $mainText;
}



.App-header {
  background-color: $mainText;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.slick-prev:before {
  color: black;
}

.App-link {
  color: #61dafb;
}


.wrapper {
  width: 100vw;
  margin: 0 auto;
  max-width: 807px;
  padding: 0 20px;
}

.sliderWrapper {
  position: relative;
  width: 85vw;
  margin: 0 auto;
  max-width: 813px;
  margin-bottom: 23px;
  @media (max-width: 768px) {
    width: 80vw;
  }
  @media (max-width: 530px) {
    width: 60vw;
  }
}

.image {
  width: 50%;
}

.cover {
  background-color: rgba(16, 24, 39, 0.294);
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.sand-photo {
  position: absolute;
  min-width: 100px;
  height: 100px;
  border: 1px solid HSLA(0, 0%, 0%, 0.16);
  margin-right: 14px;
  border-radius: 4px;
  left: 0;
  top: 0;
  &:hover {
    cursor: pointer;
    background-color: rgb(173, 173, 173);
  }
}

.slick-next:before {
  color: rgb(173, 173, 173) !important;
  font-size: 43px !important;
}



.slider-wrapper{
  padding-left: 112px;
}

.hidden {
  width: 0px;
  height: 0px;
}