$raiting: #7b7b7b;
;

.raiting {

    margin-top: 4px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    color: #383737;
    align-items: flex-start;

    &-wrapper {
        display: flex;
        margin-bottom: 4px;
    }

    &-digits {
        font-size: 50px;
        font-weight: bold;
        padding-right: 3px;
    }

    &-stars {
        display: flex;
        list-style-type: none;
        align-items: flex-end;
        margin-bottom: 9px;
        font-size: 24px;
        color: #7b7b7b;
    }

    &-text {
        font-size: 14px;
    }

    &-datails {
        flex-direction: column;
        display: flex;

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.datails {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    &-label {
        margin-right: 10px;
    }

    &-value {
        color: $raiting
    }
}


