.form {
    &-select {
        padding: 10px 10px;
      
    }
    &-wrap {
        margin: 0px;
        text-align: start;
        @media (max-width: 768px) {
            text-align: center;
        }
    }
}